In [1]:
import requests as rq
import pandas as pd
import pyarrow
from joblib import Parallel, delayed
from tqdm import tqdm
import time
from Spotify_id import *

In [2]:
# Obtener el TOKEN

AUTH_URL = "https://accounts.spotify.com/api/token"

creds = {
    "grant_type": "client_credentials",
    "client_id": Client_ID,
    "client_secret": Client_secret
}

response = rq.post(AUTH_URL, 
                         data=creds, 
                         headers={"Content-Type": "application/x-www-form-urlencoded"})


TOKEN = response.json()['access_token']

# Conexión con la API

url = "https://api.spotify.com/"

headers = {"Authorization": f'Bearer {TOKEN}'}

response = rq.get(url,headers=headers)
response

In [3]:
grupos = pd.read_csv('../data/grupos.csv')
grupos

                Grupos
0        Del Water Gap
1       León Benavente
2                  ATB
3     Tyler Joe Miller
4          Loverground
...                ...
5169         Cari Cari
5170          Iggy Pop
5171    Great Northern
5172         Morcheeba
5173               H2O

[5174 rows x 1 columns]

In [4]:
consulta = [x.replace(' ','+') for x in grupos.Grupos]
urls = [f'https://api.spotify.com/v1/search?q=artist%3A{artist}&type=artist&limit=50&offset=0' for artist in consulta]
artist_url = [{'artist':artist,'url':url} for artist,url in zip(grupos.Grupos,urls)]

In [5]:
def search_spotify_info(art_url):
    time.sleep(0.20)     # Pausamos el tiempo entre consultas. Evitamos que nos baneen
       # probamos conexión
    try:
        response = rq.get(art_url['url'],headers=headers)
        rjson = response.json()['artists']['items']
        for index, item in enumerate(rjson):
            if item['name'].lower() == art_url['artist'].lower():
                return rjson[index]
        
        raise Exception
    except:
        return{'external_urls': None,
               'followers': None,
               'genres': None,
               'href': None,
               'id': None,
               'images' : None,
               'name' : None,
               'popularity' : None,
               'type' : None,
               'uri' : None}

In [6]:
# paralelo = Parallel(n_jobs=2, verbose=True)
# lst_artist_info = paralelo(delayed(search_spotify_info)(art_url) for art_url in tqdm(artist_url))

lst_artist_info = [search_spotify_info(art_url) for art_url in tqdm(artist_url)]

100%|██████████████████████████████████████████████████████████████████████████████| 5174/5174 [34:33<00:00,  2.50it/s]

In [7]:
grupos = pd.concat([grupos,pd.DataFrame(lst_artist_info)],axis=1)
grupos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5174 entries, 0 to 5173
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Grupos         5174 non-null   object
 1   external_urls  4615 non-null   object
 2   followers      4615 non-null   object
 3   genres         4615 non-null   object
 4   href           4615 non-null   object
 5   id             4615 non-null   object
 6   images         4615 non-null   object
 7   name           4615 non-null   object
 8   popularity     4615 non-null   float64
 9   type           4615 non-null   object
 10  uri            4615 non-null   object
dtypes: float64(1), object(10)
memory usage: 444.8+ KB

In [19]:
grupos.tail()

,Grupos,external_urls,followers,genres,href,id,images,name,popularity,type,uri
5169,Cari Cari,{'spotify': 'https://open.spotify.com/artist/0...,"{'href': None, 'total': 48689}",[austrian pop],https://api.spotify.com/v1/artists/0ey6crPk5fX...,0ey6crPk5fXQWkq21iPTMV,"[{'height': 640, 'url': 'https://i.scdn.co/ima...",Cari Cari,48.0,artist,spotify:artist:0ey6crPk5fXQWkq21iPTMV
5170,Iggy Pop,{'spotify': 'https://open.spotify.com/artist/3...,"{'href': None, 'total': 1475500}","[alternative rock, glam rock, permanent wave, ...",https://api.spotify.com/v1/artists/33EUXrFKGjp...,33EUXrFKGjpUSGacqEHhU4,"[{'height': 640, 'url': 'https://i.scdn.co/ima...",Iggy Pop,63.0,artist,spotify:artist:33EUXrFKGjpUSGacqEHhU4
5171,Great Northern,{'spotify': 'https://open.spotify.com/artist/3...,"{'href': None, 'total': 5994}","[deep acoustic pop, la indie]",https://api.spotify.com/v1/artists/3vEgkhVW7YF...,3vEgkhVW7YFsvSUjzWQ6ji,"[{'height': 640, 'url': 'https://i.scdn.co/ima...",Great Northern,21.0,artist,spotify:artist:3vEgkhVW7YFsvSUjzWQ6ji
5172,Morcheeba,{'spotify': 'https://open.spotify.com/artist/6...,"{'href': None, 'total': 772891}","[downtempo, electronica, trip hop]",https://api.spotify.com/v1/artists/6bWxFw65IEJ...,6bWxFw65IEJzBYjx3SxUXd,"[{'height': 640, 'url': 'https://i.scdn.co/ima...",Morcheeba,60.0,artist,spotify:artist:6bWxFw65IEJzBYjx3SxUXd
5173,H2O,{'spotify': 'https://open.spotify.com/artist/4...,"{'href': None, 'total': 90036}","[hardcore, nyhc, punk, skate punk, straight edge]",https://api.spotify.com/v1/artists/4mQm8gcXNNy...,4mQm8gcXNNyzNQRqYKTKqo,"[{'height': 640, 'url': 'https://i.scdn.co/ima...",H2O,39.0,artist,spotify:artist:4mQm8gcXNNyzNQRqYKTKqo

In [9]:
grupos.to_parquet('../data/grupos_spotify_raw.parquet',index=False,engine='pyarrow')

In [18]:
grupos_nan = grupos[grupos.id.isna()].reset_index(drop=True)
grupos_nan

,Grupos,external_urls,followers,genres,href,id,images,name,popularity,type,uri
0,Morgan (ES),None,None,None,None,None,None,None,NaN,None,None
1,Marwa Belhaj Youssef,None,None,None,None,None,None,None,NaN,None,None
2,THUMPER (IRE),None,None,None,None,None,None,None,NaN,None,None
3,SIMONA (BCN),None,None,None,None,None,None,None,NaN,None,None
4,MAREIKE BAUTZ,None,None,None,None,None,None,None,NaN,None,None
...,...,...,...,...,...,...,...,...,...,...,...
554,VXYX,None,None,None,None,None,None,None,NaN,None,None
555,Harleigh Colt (DJ Set) of Rainbow Kitten Surpr...,None,None,None,None,None,None,None,NaN,None,None
556,Jamz Supernova,None,None,None,None,None,None,None,NaN,None,None
557,STOR,None,None,None,None,None,None,None,NaN,None,None
558,MARJA DE SANCTIS,None,None,None,None,None,None,None,NaN,None,None

In [29]:
grupos_nan.to_parquet('../data/grupos_nan_spotify_raw.parquet',index=False,engine='pyarrow')

In [30]:
grupos = grupos.dropna().reset_index(drop=True)
grupos.to_parquet('../data/grupos_spotify_clean.parquet',index=False,engine='pyarrow')